.about{

  height: 400px;
  justify-content: center;

  h1{
    position: relative;
    top: 15%;
    left: 47%;
    color: green;

  }
  .social{
    display: inline-block;
    position: relative;
    left: 85%;
    padding: 5px;
    button {
      background-color: transparent;
      margin: 2px;
    }
  }

  p{
    position: relative;
    top: 25%;
    left: 15%;
    width: 900px;
    text-align: center;
  }
}
