.about-section {
  padding: 120px 0;
}

.about-text {
  text-align: center;
  .display-3 {
    font-weight: 400;
  }
}

.social {
  font-size: 2.5rem;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.fb-icon {
  &:hover {
    color: #3B5998;
    cursor: pointer;
  }
}

.linkedin-icon {
  &:hover {
    color: #0077B5;
    cursor: pointer;
  }
}

.twitter-icon {
  &:hover {
    color: #1DA1F2;
    cursor: pointer;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .about-image-container {
    display: none;
  }

  .about-section {
    height: unset;
  }
}
