.about{

  height: 400px;
  justify-content: center;

  h1{
    position: relative;
    top: 15%;
    left: 47%;
    color: green;

  }
  button {

      background-color: transparent;
    }






  p{
    position: relative;
    top: 25%;
    left: 15%;
    width: 900px;
    text-align: center;
  }
}
