<div class="about">
  <h1>About</h1>


    <button mat-mini-fab>
      <mat-icon svgIcon="facebook-icon"></mat-icon>
    </button>
    <button mat-mini-fab>
      <mat-icon svgIcon="linkdin-icon"></mat-icon>
    </button>
    <button mat-mini-fab>
        <mat-icon svgIcon="twitter-icon"></mat-icon>
      </button>



<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec condimentum ornare volutpat. Sed eu lorem
  mattis, auctor justo at, cursus odio. Aliquam mollis eros sed nisi convallis euismod. Praesent eget posuere
  odio. Aenean sit amet tellus semper, fermentum mauris eget, vulputate lorem. In viverra quam nec semper laoreet.
  Vestibulum condimentum ex non lacus sollicitudin tristique. Maecenas id magna sed orci eleifend fringilla eget ut
  sem. Suspendisse maximus venenatis est sit amet pellentesque. Suspendisse non mi id risus rhoncus tristique.
</p>
</div>
