@import url('https://fonts.googleapis.com/css?family=Lato:100,900');

.logo{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 500px;
  height: 100px;
  font-size: 5rem;
}
.logo-text1{
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

.logo-text2 {
  font-weight: 200;
}

.carousel-item {
  max-height: 100vh;
}

.view {
  max-height: 100vh;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .video-fluid {
    max-width: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .view {
    max-width: none;
  }
}


