@import url('https://fonts.googleapis.com/css?family=Lato:100,900');

.logo{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 500px;
  height: 100px;
  font-size: 5rem;
}
.logo-text1{
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

.logo-text2 {
  font-weight: 200;
}

.carousel-inner{
  height: 100vh;
  min-height: 100vh;
}

.video-fluid {
  height: 100vh;
  max-width: none;
}