.logo{
  position: absolute;
  top: 15%;
  left: 40%;

}
.logo-text{

  p{
    position: relative;
    bottom: 108px;
    left: 23px;
    font-size: 37px;
    color: green;
    font-family: Roboto;
  }
}
