$digit-green: (
    50 : #e2efe7,
    100 : #b6d7c4,
    200 : #86bc9c,
    300 : #56a174,
    400 : #318d57,
    500 : #0d7939,
    600 : #0b7133,
    700 : #09662c,
    800 : #075c24,
    900 : #034917,
    A100 : #7dff98,
    A200 : #4aff70,
    A400 : #17ff48,
    A700 : #00fc35,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$digit-orange: (
    50 : #faf3e5,
    100 : #f2e1be,
    200 : #e9cd92,
    300 : #e0b966,
    400 : #daaa46,
    500 : #d39b25,
    600 : #ce9321,
    700 : #c8891b,
    800 : #c27f16,
    900 : #b76d0d,
    A100 : #fff3e5,
    A200 : #ffdab2,
    A400 : #ffc27f,
    A700 : #ffb665,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);