@import '@angular/material/prebuilt-themes/deeppurple-amber.css';    

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
//$zeleno-skopje-primary: mat-palette($mat-indigo);
//$zeleno-skopje-accent: mat-palette($mat-pink, A200, A100, A400);


$my-red: (
  50: #ffebee,
  100: #ffcdd2,
  200: #ef9a9a,
  300: #e57373,
  400: #ef5350,
  500: #f44336,
  600: #e53935,
  700: #d32f2f,
  800: #c62828,
  900: #b71c1c,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

//$zeleno-skopje-primary: mat-palette($mat-amber);
//$zeleno-skopje-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$zeleno-skopje-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
//$zeleno-skopje-theme: mat-light-theme($zeleno-skopje-primary, $zeleno-skopje-accent, $zeleno-skopje-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
//@include angular-material-theme($zeleno-skopje-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ngucarousel {
  position: relative;
  max-width: 80vw; //1100px
  margin: 0 auto;
}
.ngucarousel-inner {
  padding: 8px 0 18px;
}
.ngucarousel .carousel-left,
.ngucarousel .carousel-right {
  position: absolute;
  top: calc(50% - 28px);
  background: #ffffff !important;
  color: rgba(0, 0, 0, .87);
}
.ngucarousel .carousel-left {
  left: -20px;
}
.ngucarousel .carousel-right {
  right: -20px;
}

/*---- Media queries -----*/

@media (max-width: 767px) {
  .mat-card-title .mat-divider {
      margin-left: 0;
      margin-right: 0;
  }
  .cal-top-col {
      width: 100%;
  }
  .accordion-handle {
      flex-direction: column !important;
  }
  .app-error .error-icon {
      height: 100px;
      width: 100px;
      font-size: 100px;
  }
}